
.horizontalLayout {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainHomeLayout {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

.deviceList {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: darkgray;
}

// Device Detail Card
.deviceDetailCard {
    width: 70%;
    background-color: grey;
    padding: 10px;
}
.missingDeviceDetailCard {
    width: 70%;
    background-color: rosybrown;
    padding: 10px;
}

// Devices Column
.columnLayout {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

// Device Rows
.deviceRow {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    background-color: azure;
    line-height: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.deviceRowPending {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    background-color: azure;
    line-height: 10px;
    display: flex;
    flex-direction: row;
}
.deviceRowMissing {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    background-color: lightcoral;
    line-height: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.focusedDeviceRow {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    color: white;
    background-color: grey;
    line-height: 10px;
    display: flex;
    flex-direction: row;
}
.focusedDeviceRowPending {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgrey;
    padding-left: 10px;
    background-color: grey;
    line-height: 10px;
    display: flex;
    flex-direction: row;
}
.focusedDeviceRowMissing {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    color: white;
    background-color: rosybrown;
    line-height: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.deviceRowContainer {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    //margin: auto;
    //padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// Images
.circularSquare {
    height: 50px;
    border-radius: 50%;
    margin: 0;
    padding-right: 10px;
    padding-top: 15px;
  //position: absolute;
  //top: 50%;
}

.circularSquareLarge {
    height: 250px;
    border-radius: 50%;
    margin: 0;
}

// Main
.deviceDetailsMainBox {
    background-color: beige;
}

.addNewDeviceButton {
    color: white;
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // position: absolute; 
    // bottom: 0;
    // width: 100%;
}

.deviceInfoHorizontalLayout {
    display: flex;
    flex-direction: row;
}

.deviceInfoList {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-decoration-color: white;
}

.markDeviceMissingButton {
    background-color: red;
    color: white;
}

.deviceListHeader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.missingDeviceInfoCard {
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
