<div class="horizontalLayout" style="background-color:#0097A7; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; z-index: 5;">
    <h1 class="float_left" style="color:#FFFFFF;">Device Finder</h1>
    <%= button_to 'Logout', root_path, method: 'get', :style => "color: white; background: #FF5252; position: absolute; right: 0; vertical-align: middle; margin: 30px; width: 60px; height: 30px; border-radius: 50%;" %>
</div> 

<%= javascript_pack_tag 'application' %>
<%= react_component("HomeProvider", {user: @user, devices: @devices} ) %>