<div class="horizontalLayout">
    <h1 class="float_left">Device Finder</h1>
    <%= button_to 'Logout', logout_path, method: 'get' %>
</div> 

<%= javascript_pack_tag 'application' %>
<%= react_component("HomeProvider", {user: @user} ) %>