

<html style="height: 100%;">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Device Finder</title>
</head>
<body style="min-height: 100%; height: 100vh"> 
<div style="background-color: #00BCD4; color: #FFFFFF; padding: 10px; display: flex; flex-direction: row; align-content: center;">
    <h1>Device Finder</h1>
    <div style="background-color: #00BCD4; color: #FFFFFF; display: flex; flex-direction: row; align-items: center; position: absolute; right: 0; padding-right: 30px;">
        <%= button_to 'Login', login_path, method: :get, class: 'btn btn-danger align-self-end' %>
    </div> 
</div>
<div style="background-color: #B2EBF2; display: flex; flex-direction: row; padding: 10px; height: 90vh;">
    <div style="width: 30%; padding: 25px; background-color: #0097A7; color: #FFFFFF; border-radius: 30px; margin: 3%; display: flex; flex-direction: column; align-items: center;">
        <h2 style="padding-bottom: 20px;">Why Device Finder?</h2>
        <p style="padding-bottom: 20px; text-align: center;">Have you ever lost a device? Have your current device location applications failed because your device was wiped? We have the solution.</p>
        <p style="padding-bottom: 20px; text-align: center;">Device Finder is based on your devices OS level which means it cant be wiped.</p>
        <%= button_to 'Learn More', redirect_to_android_documentation_path, method: :get, class: 'btn btn-danger align-self-end' %>
    </div>

    <div style="width: 30%; padding: 25px; background-color: #0097A7; color: #FFFFFF; border-radius: 30px; margin: 3%; display: flex; flex-direction: column; align-items: center;">
        <h2 style="padding-bottom: 20px;">How It Works</h2>
        <p style="text-align: center;">Interested in how Device Finder works at a technical level?</p>
        <p style="text-align: center;">Currently device finder is only supported on an open source Android platform but this is to be expanded in the future.</p>
        <p style="text-align: center;">Device Finder is embeded in the OS level and sends out a beacon message every time the phone is powered, even if it has been wiped.</p>
        <p style="text-align: center; padding-bottom: 20px;">Interested in viewing our documentation and learning more?</p>
        <%= button_to 'Learn More', redirect_to_documentation_path, method: :get, class: 'btn btn-danger align-self-end' %>
    </div>

    <div style="width: 30%; padding: 25px; background-color: #0097A7; color: #FFFFFF; border-radius: 30px; margin: 3%; display: flex; flex-direction: column; align-items: center; ">
        <h2 style="padding-bottom: 20px;">New to Device Finder?</h2>
        <p style="padding-bottom: 20px text-align: center;">Lets get you setup!</p>
        <%= button_to 'Sign Up', create_user_path, method: :get, class: 'btn btn-danger align-self-end' %>
    </div>
</div>
</body>
</html>