.horizontalLayout {
    background-color: #FF3333;
    color: white;
    flex-direction: row;
}

.floatRight {
    float: right;
    justify-self: flex-end;
    vertical-align: middle;
    position: absolute;
    right: 0;
    margin: 30px;
}

.deviceList {
    width: 30%;
    background-color: coral;
}

.deviceDetailCard {
    width: 70%;
    background-color: blue;
}