.blueBackground {
    background-color: coral;
}

.horizontalLayout {
    background-color: #FF3333;
    color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.floatRight {
    float: right;
    justify-self: flex-end;
    vertical-align: middle;
    position: absolute;
    right: 0;
    margin: 30px;
}